---
import Card from "@/components/ui/astro/Card.astro";
import type { LogoTileProps } from "@/types";

type Props = LogoTileProps;

const { logo, title, href } = Astro.props;
const Tag = href ? "a" : "div";
const isExternal = href?.startsWith("https");
---

<Tag
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener" : undefined}
  {title}
  class="group"
>
  <Card class="bg-okra border flex justify-center aspect-square" size="sm">
    <div slot="content">
      <img src={logo} alt={title} class="w-full" />
    </div>
  </Card>
  <p class="text-xs text-center mt-2 group-hover:underline">
    {title}
  </p>
</Tag>
