---
import Card from "@/components/ui/astro/Card.astro";
import type { WorkCardProps } from "@/types";

type Props = WorkCardProps;

const { cover, title, href, category } = Astro.props;
const Tag = href ? "a" : "div";
const isExternal = href?.startsWith("https");
---

<Tag
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener" : undefined}
  {title}
  class="group"
>
  <Card class="aspect-square overflow-hidden p-0">
    <img src={cover} alt={title} class="w-full h-full object-cover" />
  </Card>
  <p class="text-xl font-bold uppercase mt-2 group-hover:underline">
    {title}
  </p>
  <span class="text-muted-foreground text-xs mt-1">{category}</span>
</Tag>
